.scoreboard {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 756px;
  height: auto;
  border-style: solid;
}

.align-center {
  text-align: center;
}

.paper {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.create-game-text {
  padding: 25px 0px;
}

.connect-four-row {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.square {
  margin: 5px;
  border-style: solid;
  display: inline-block;
  overflow: hidden;
  min-height: 85px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}